extends ../layouts/default.pug

block content
  img(src="/images/page.png", alt="page" width="33" height="35")
  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci aspernatur blanditiis nisi incidunt fugit eligendi optio enim ipsam dolorem id, voluptatum eaque quaerat? Aliquid, officia. Nisi saepe dolore ipsam. Dolore.
  .test-img